.profile-page-wrapper {
  max-width: 1400px;
  width: 100%;
}

.user-profile-data-wrapper,
.visit-list-wrapper {
  max-width: 1400px;
  width: 100%;
}

.no-visits {
  padding-top: 32px;
  font-weight: 600;
}
